@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

footer, header{
    background-color: rgba(193, 13, 238);
    font-style: oblique;
    color: white;
}

nav{
    background-color: white;
    border-style: dotted;
    border-color: white
}

footer{
    font-size: 1rem;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer a{
    color:white;
}

ul{
    list-style: none;
    font-size: 20px;
} 

a{
    color:rgb(173, 71, 199);    
    text-decoration: none;
}   

h1{
    font-size: 6rem;
    font-family: "The Nautigal", cursive;
    display: inline;
}

label{
    font-size: 1rem;
    color: rgba(203, 66, 237);
}

input, textarea{
    border-color: rgba(203, 66, 237);
    border-style: dotted;
}

.icono {
    height: 10%;
    width: 10%;
}

.bienvenido{
    height: 80%;
    width: 80%;
}

.producto{
    width: 99%;
    height: 20rem;
    object-fit: cover;
}

.letras{
    font-family: "Viaoda Libre", serif; 
}

img{
    width: 100%;
    height: auto;
}

article{
    border-style: outset;
    border-color: rgba(203, 66, 237);
    color: rgba(193, 13, 238);
    width: 250px; 
    text-align: center;
    padding: 0.5%;
}

ul{
    display: flex;
    justify-content: space-around;
}

section{
    display:flex;
    gap: 20px;        
    flex-wrap: wrap; 
    justify-content: center;
    padding-bottom: 1rem;
}

main{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

button{
    border-style: double;
    border-color: rgb(193, 13, 238);
    color: rgba(193, 13, 238);  
    background-color: white;
    cursor: pointer;
}

@media (max-width: 768px){
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
